<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>流水相册.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E48859891DD984EF00811344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E48859A21DD984EF00811344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E48859AD1DD984EF00811344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
